---

- name: openwisp-wifi-login-pages.git
  git:
    repo: https://github.com/openwisp/openwisp-wifi-login-pages.git
    dest: "{{ wifi_login_pages_path }}"
    version: 1.1.0
    force: true
  tags: git

- name: yarn install
  community.general.yarn:
    path: "{{ wifi_login_pages_path }}"

- name: create log directory
  file:
    dest: "{{ wifi_login_pages_path }}/log"
    group: "{{ www_group }}"
    owner: "{{ www_user }}"
    state: directory

- name: create yarn cache directory
  file:
    dest: "/var/www/.cache/yarn"
    group: "{{ www_group }}"
    owner: "{{ www_user }}"
    state: directory

- name: create npm directory
  file:
    dest: "/var/www/.npm"
    group: "{{ www_group }}"
    owner: "{{ www_user }}"
    state: directory

- name: set permissions
  file:
    dest: "{{ wifi_login_pages_path }}"
    group: "{{ www_group }}"
    owner: "{{ www_user }}"
    # sets executable only to directories
    mode: u=rwX,g=rX,o=X
    recurse: true

- name: copy organizations configs and assets
  become: true
  copy:
    src: "{{ wifi_login_pages_organizations_src }}"
    dest: "{{ wifi_login_pages_path }}/organizations"
    owner: "{{ www_user }}"
    group: "{{ www_group }}"
    mode: 0640
  failed_when: false
  tags: [assets]

- name: copy translations (i18n directory)
  become: true
  copy:
    src: owlp_i18n/
    dest: "{{ wifi_login_pages_path }}/i18n"
    owner: "{{ www_user }}"
    group: "{{ www_group }}"
    mode: 0640
  failed_when: false
  tags: [i18n]

- name: copy static files
  become: true
  copy:
    src: owlp_static/
    dest: "{{ wifi_login_pages_path }}/static"
    owner: "{{ www_user }}"
    group: "{{ www_group }}"
    mode: 0640
  failed_when: false
  tags: [assets]

- name: yarn build
  become: true
  become_user: "{{ www_user }}"
  command: "yarn build"
  args:
    chdir: "{{ wifi_login_pages_path }}"
  tags: [yarn-build]
